@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html body {
    height: 100vh;
    width: 97vw;
}

body {
    background: url(imagens/fundo-madeira.jpg)no-repeat bottom center;
    background-size: cover;
}

main {
    height: 100vh;
    position: relative;
}

#telefone {
    position: absolute;
    background:url(imagens/frame-iphone.png)no-repeat top center;
    height: 627px;
    width: 311px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#tela {
    position:relative;
    height: 474px;
    width: 260px;
    left: 22px;
    top: 80px;
}

#rede-social img {
    height: 50px;
    border-radius:50%;
    display: flex;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 15px;
}

#rede-social > a >  img:hover {
    border: 1px solid white;
    transform: translate(-3px -3px);
    transition: transform 2s;
}



